In [322]:
import pandas as pd

In [323]:
def read_data():
    df = pd.read_csv("../data/OK/aggregate_members_oathkeepers.csv")
    return df.drop(columns=["address", "zip", "number_1", "number_2"])

In [324]:
df = read_data()
df

,id_number,group_name,bool,name,city,state,email,undefined_date,notes
0,LT0001,Liberty Tree,No,Jeffrey Paulson,Lander,WY,jtpaulsen@bresnan.net,NaN,NaN
1,LT0002,Liberty Tree,No,James Holmes,Portage,ME,jimholmes@atiwi.com,NaN,NaN
2,LT0003,Liberty Tree,No,Jeff Cook,Alamogordo,NM,nazjbawbl@msn.com,NaN,NaN
3,LT0004,Liberty Tree,No,Paul Canfield,Bradford,NH,iamaminal@aol.com,NaN,NaN
4,LT0005,Liberty Tree,No,Patrick Ross,Owasso,OK,gloveguy@palmerglove.com,NaN,NaN
...,...,...,...,...,...,...,...,...,...
38243,Life1912,Life,No,Michael Hirl,"Cicero, IN 46034",IN,mikeinoathkeepers@gmail.com paintcicero@comca...,NaN,NEEDS LAPEL/COIN
38244,Life1913,Life,No,Brian Starr,"Menifee, CA 92584",CA,Buhbuhdee@roadrunner.com,NaN,HAT/PIN/COIN
38245,LIFE-HRT000001,Life,Yes,Fadi Haddad EN Transportation,Hawthorne,NJ,emailfadihaddad@gmail.com,16-Oct,NaN
38246,LIFE-HRT000002,Life,Yes,Ron Winters,"Seymour, TN 37865",TN,cntrline45@bellsouth.net,18-Mar,"needs ball cap, lapel, coin"
38247,LIFE-HRT000006,Life,Yes,Tony Cleveland,Newark,NJ,cleveland_tony@yahoo.com,17-Apr,ball cap/ lapel pin/ coin

In [325]:
df.state.unique()

array(['WY', 'ME', 'NM', 'NH', 'OK', 'NC', 'NJ', 'CA', 'GA', 'VT', 'AK',
       'ID', 'RI', 'TX', 'PA', 'NE', 'NY', 'IN', 'MT', 'OR', 'WA', 'MA',
       'AL', 'VA', 'IL', 'NV', 'WI', 'FL', 'MI', 'OH', 'CO', 'CT', 'SC',
       'LA', 'IA', 'AR', 'AZ', 'TN', 'UT', 'KS', 'KY', 'MN', 'WA.', 'MO',
       'MD', 'HI', 'WV', 'MS', 'DC', 'DE', 'SD', 'ND', 'AE', nan,
       'Canada', ' NY ', 'Grand Island', 'Sacramento ', 'nm', 'MT ', 'Fl',
       'MA ', 'Ma', ' FL', 'Thailand', 'VA ', 'Mi', 'Co', 'ct', 'Ne.',
       'FL  (AZ)', ' Ma.', 'Ga', 'Pa', ' NY', ' WI', 'La.', 'N.Y.', 'nc',
       'Az', 'Tx', 'PA.', 'IOWA', 'BC Canada', 'CO ', 'CA ', 'PA ', 'AZ ',
       '??', 'Oh', ' PA ', 'Austraila PTO', 'AP', 'ca', 'mt', ' ', 'LV',
       'Jacksonville', 'BC', 'Oslo', 'ALBERTA, CANADA', 'MO  ', 'in',
       'Western Australia', 'RL', 'Carolina Beach', '--', 'CN', 'PR',
       ' MN', 'MDï¿½', 'OR ', 'Florida', '9000', 'FL ', 'Il', ' canada',
       ' IN', 'Stewartstown', 'Al', 'Canada ', 'Roosevelt', 'Mo', 'pA',
       'Ct', 'CA  NONONO', 'E7N2V2', 'ST CROIX ', 'hamden', 'Ca',
       'Ontario', '607WS/DOW, Unit: 15173, APO, AP 96205, United States',
       'OH  START', 'MO  END', 'NY11580', '8724', 'NY11766', 'NC28773',
       'Sterling Heights '], dtype=object)

In [326]:
def split_names(df):
    names = df.name.str.lower().str.strip().str.extract(r"(\w+-?\w+?) ?(?:(\w+)\.? )?(.+)")

    df.loc[:, "first_name"] = names[0]
    df.loc[:, "middle_name"] = names[1]
    df.loc[:, "last_name"] = names[2]
    return df.drop(columns=["name"])

df = df.pipe(split_names)

In [327]:
df.loc[:, "notes"] = df.notes.str.lower().str.strip()
df = df.fillna("")

In [328]:
search_1 = df[df.notes.str.contains("law enforcement")]
# search_1.loc[:, ["notes", "state"]].iloc[150:175]
search_1.state.value_counts()

CA    16
TX    15
PA     8
NC     8
AL     6
NV     6
GA     5
OR     5
NY     5
FL     4
OH     4
AZ     4
TN     4
OK     4
NJ     3
NM     3
MN     3
MO     3
LA     3
CO     3
WI     2
NH     2
MI     2
IL     2
KY     2
AR     2
VA     2
MT     2
SC     1
SD     1
WV     1
WA     1
MD     1
AK     1
CT     1
ME     1
MS     1
DE     1
Name: state, dtype: int64

In [329]:
search_2 = df[df.notes.str.contains("sheriff")]
# search_2.loc[:, ["notes", "state"]].iloc[:25]
search_2.state.value_counts()

CA    10
FL    10
TX     9
IN     5
MO     4
MN     4
AZ     4
LA     4
CO     4
MT     3
AL     3
NC     3
TN     2
GA     2
PA     2
KS     2
UT     2
MD     1
VA     1
NY     1
NV     1
WA     1
OR     1
KY     1
AR     1
WI     1
NE     1
NM     1
WY     1
SD     1
MI     1
ME     1
IA     1
IL     1
MS     1
Name: state, dtype: int64

In [330]:
search_3 = df[df.notes.str.contains("police")]
# search_3.loc[:, ["notes", "state"]].iloc[:25]
search_3.state.value_counts()

NY     19
FL     18
CA     16
OH     12
TX     11
AZ     10
PA      9
VA      8
WA      8
MO      7
KY      6
MD      6
NC      6
SC      6
LA      5
TN      5
AK      5
CO      5
GA      5
NV      5
IL      4
WI      4
IN      4
NJ      4
MT      3
AL      3
OR      3
AR      3
MA      3
OK      3
ME      3
MN      2
DE      2
IA      2
CT      2
ID      2
KS      2
NH      2
SD      1
NE      1
WV      1
PA      1
NM      1
Il      1
Name: state, dtype: int64

In [331]:
search_4 = df[df.notes.str.contains("active duty")]
# search_4.loc[:, ["notes", "state"]].iloc[:25]
search_4.state.value_counts()

CA    6
TX    6
OH    5
NY    4
LA    3
FL    3
VA    3
GA    3
MN    2
CO    2
OR    2
SC    2
UT    2
AZ    2
MO    2
TN    2
OK    1
NE    1
MA    1
KS    1
KY    1
IN    1
MT    1
MD    1
ME    1
DE    1
NH    1
ID    1
WA    1
nc    1
MI    1
WI    1
NJ    1
IL    1
AE    1
Name: state, dtype: int64

In [332]:
search_5 = df[df.notes.str.contains("patrol")]
# search_5.loc[:, ["notes", "state"]].iloc[:25]
search_5.state.value_counts()

CA    7
AZ    6
TX    6
TN    4
VA    4
FL    4
NY    4
MO    4
SC    3
WA    3
PA    2
NJ    2
NV    2
DE    2
OH    2
MI    2
MT    2
WI    2
AL    1
MD    1
OR    1
IL    1
LA    1
NC    1
NE    1
WY    1
MS    1
CO    1
IN    1
OK    1
MA    1
ID    1
NH    1
ME    1
      1
GA    1
KY    1
Name: state, dtype: int64

In [333]:
search_6 = df[df.notes.str.contains("officer")]
# search_6.loc[:, ["notes", "state"]].iloc[:25]
search_6.state.value_counts()

CA    23
FL    20
TX    17
AZ    16
NY    15
VA    12
CO    10
OH    10
AR     8
PA     8
NC     8
WI     8
OR     7
WA     7
NV     7
MD     7
GA     7
MO     7
KS     6
ID     6
AL     6
OK     6
TN     6
NM     5
CT     5
KY     5
SC     5
IA     4
MT     4
ME     4
MI     4
NJ     3
IL     3
MA     3
WV     3
MN     2
WY     2
LA     2
IN     2
AK     1
DE     1
ND     1
RI     1
SD     1
UT     1
NE     1
Name: state, dtype: int64

In [334]:
search_7 = df[df.notes.str.contains("swat")]
# search_7.loc[:, ["notes", "state"]].iloc[:25]
search_7 = search_7[search_7.state.isin(["LA"])]
search_7.notes.unique()

array(["i was the departments defensive tactics instructor, k-9 handler and point man on the swat team. i was involved in two situations where i was forced to neutralize the threat. i was cleared in both by grand jury's.",
       'served as commander of swat for the city of alexandria for ten years',
       'swat and narcotics trained as well as a member of the gang unit.'],
      dtype=object)

In [337]:
search_8 = df[df.notes.str.contains("explosive")]
search_8

,id_number,group_name,bool,city,state,email,undefined_date,notes,first_name,middle_name,last_name
4814,1813,Annual,No,Gig Harbor,WA,rick.buckland@wjbradley.com,,trained airmen in the fields of explosive ordi...,richard,c,buckland iii
6116,3508,Annual,No,Limerick,ME,jrlmsj@yahoo.com,,"after retiring, i became a defense contractor....",john,,riggillo
6943,4771,Annual,No,New Richmond,WI,wulft@frontiernet.net,,experience in military explosives/demolitions....,thomas,,wulf
11232,9265,Annual,No,Marion,IA,tmsmith1948@gmail.com,9/8/2010,trained and served as an explosive ordinance d...,thomas,m,smith
12651,10739,Annual,No,Jacksonville,FL,tj@tonyjohnson.net,8/13/2011,served a combat tour in iraq as a explosive or...,anthony,e,johnson
18035,21341,Annual,No,Rolla,MO,mike3517@yahoo.com,3/25/2013,"instructed in mountaineering, navigation, impr...",micheal,l,gibbens
23814,27168,Annual,No,Indianapolis,IN,hankins.steven@yahoo.com,41713,"weapons, explosives, e.o.d. mine warfare",steven,e,hankins
27963,30543,Annual,No,Sheridan,IN,allan_stamper12000@yahoo.com,42174.49583,im good with intel and engineering all types o...,allan,dale,stamper
28044,30626,Annual,No,Union,MO,dustin.lindsay123@gmail.com,42186.79583,"personnel and vehicle obstacles, explosives, c...",dustin,,lindsay
28055,30637,Annual,No,Angier,NC,mswilloughby465@gmail.com,42188.53056,"heavy equipment/truck mechanic, n.c. cdl licen...",michael,s,willoughby
28191,30776,Annual,No,trego,MT,sandman2831@gmail.com,42194.48889,i was trained in special warfare and explosive...,douglas,a,cyrus
28200,30785,Annual,No,no. st. paul,MN,jpblaze400@yahoo.com,42194.48889,"protect the constitution, maintenance tech for...",john,p,perkins
28582,31176,Annual,No,ZEPHYR COVE,NV,bricharduke@hotmail.com,42192.75486,"chaplain, cism, construction, driving trucks, ...",brad,,dorton
28653,31247,Annual,No,"cottonwood, AZ 86326",AZ,lvnsjb06@gmail.com,42220.0137,"explosives handling and ordanance disposal., m...",jacob,daniel,bender
30321,32944,Annual,No,Carmichael,CA,cartoonboy66@gmail.com,42329.46624,"my training as is follows, combat engineer, me...",michael,david,smith
30560,33189,Annual,No,Bagdad,KY,swatpappy54@bellsouth.net,42357.6165,police trainer - asp instructor - driving inst...,gary,s,conner
31101,33734,Annual,No,North Tonawanda,NY,captainstrikeforce81@gmail.com,42409.60228,"special weapons and tactics, fire arms instruc...",bruce,a,kuriscak
31127,33760,Annual,No,Hewett,WV,coaldust74@yahoo.com,42386,v class 08 shot fire certificate undergroud ex...,brian,,ballinger

In [336]:
# df.to_csv("../data/OK/aggregate_members_oathkeepers_cleaned.csv", index=False)