In [150]:
import pandas as pd
from datamatch import (
    JaroWinklerSimilarity,
    ThresholdMatcher,
    ColumnsIndex,
)

In [151]:
def read_data():
    df = pd.read_csv("../data/OK/aggregate_members_oathkeepers_cleaned.csv")
    return df

In [152]:
dfa = read_data()

In [153]:
# dfa.state.unique()

In [154]:
def standardize_state(df):
    df.loc[:, "state"] = df.state.str.lower().str.strip()
    return df

In [155]:
dfa = dfa.pipe(standardize_state)
dfa = dfa.fillna("")

In [156]:
dfa = dfa[dfa.state.isin(["il"])]
dfa.loc[:, "notes"] = dfa.notes.str.lower().str.strip()

In [157]:
search_1 = dfa[dfa.notes.str.contains("law enforcement")]
search_1.notes.unique()

array(['experience in law enforcement and court procedures',
       'in the military i was trained in law enforcement, field training, harbor security coxswain, force protection, physical security, and anti-terrorism.'],
      dtype=object)

In [158]:
search_2 = dfa[dfa.notes.str.contains("police")]
search_2.notes.unique()

array(['while serving as a police officer i was with the bomb disposal unit for 5 years. i was also a field training officer for 3 years.',
       'active chicago police officer',
       'graduate of the lincolnland police training center and illinois state police academy',
       'military training, knowledge and enforcement of the ucmj. knowledge and enforcement of state and local laws.  graduate of fbi basic swat, and fbi advanced swat schools.  graduate of northwestern university school of police staff and command',
       'i can stand armed shoulder to shoulder in defense of local police and any local areas. not very active due to medical and age but count me as a freedom advocate. i will uphold my oath to defend the constitution in any way shape or form.'],
      dtype=object)

In [159]:
search_3 = dfa[dfa.notes.str.contains("cpd")]

In [160]:
search_4 = dfa[dfa.email.str.contains("cpd")]
search_4

Empty DataFrame
Columns: [id_number, group_name, bool, city, state, email, undefined_date, notes, first_name, middle_name, last_name]
Index: []

In [161]:
dfs = [search_1, search_2, search_3, search_4]
dfb = pd.concat(dfs, axis=0)
dfb

,id_number,group_name,bool,city,state,email,undefined_date,notes,first_name,middle_name,last_name
28181,30766,Annual,No,joliet,il,tact32910@gmail.com,42194.93677,experience in law enforcement and court proced...,megan,elizabeth,gleason
32158,34801,Annual,No,chicago,il,navypeter@hotmail.com,42581.90818,in the military i was trained in law enforceme...,peter,,kollias
5370,2403,Annual,No,Forreston,il,ilike_panheads@yahoo.com,,while serving as a police officer i was with t...,lincoln,e,eads
5441,2482,Annual,No,Glen Carbon,il,bobandruth5@gmail.com,,active chicago police officer,bob,,davis
21594,24995,Annual,No,Decatur,il,Tom-Michael@comcast.net,11/20/2013,graduate of the lincolnland police training ce...,thomas,p,michael
29781,32389,Annual,No,Winnebago,il,aaron.app2010@yahoo.com,42264.76321,"military training, knowledge and enforcement o...",aaron,d,booker
32008,34650,Annual,No,Plainfield,il,RoyIvey@yahoo.com,42559.60843,i can stand armed shoulder to shoulder in defe...,roy,leon,ivey

In [ ]:
##### get data

In [162]:
def read_misconduct_data():
    df = pd.read_csv("")
    return df

In [ ]:
dfc = read_misconduct_data()

In [ ]:
# dfc = dfc.rename(columns={"LastName": "last_name", "FirstName": "first_name"})

In [ ]:

def match_ok_names_to_personnel(ok, agency):
    dfa = ok[["first_name", "last_name"]]
    dfa.loc[:, "first_name"] = dfa.first_name.str.lower().str.strip()
    dfa.loc[:, "last_name"] = dfa.last_name.str.lower().str.strip()


    dfb = agency[["first_name", "last_name"]]
    dfb.loc[:, "first_name"] = dfb.first_name.str.lower().str.strip()
    dfb.loc[:, "last_name"] = dfb.last_name.str.lower().str.strip()

    matcher = ThresholdMatcher(
        ColumnsIndex([]),
        {
            "first_name": JaroWinklerSimilarity(),
            "last_name": JaroWinklerSimilarity(),
        },
        dfa,
        dfb,
    )
    decision = 0.800
    matcher.save_pairs_to_excel(
        ("../data/NY/oathkeeper_names_v_chicago_misconduct_data.xlsx"), decision
    )
    return matcher

In [ ]:
match = match_ok_names_to_personnel(dfb, dfc)

In [ ]:
def read_matches():
    df = pd.read_excel("../data/NY/oathkeeper_names_v_chicagoo_misconduct_data.xlsx")
    return df

In [ ]:
matches = read_matches()

In [ ]:
matches