In [10]:
import pandas as pd
from datamatch import (
    JaroWinklerSimilarity,
    ThresholdMatcher,
    ColumnsIndex,
)

In [11]:
def read_data():
    df = pd.read_csv("../data/LA/aggregate_members_oathkeepers_la_cleaned.csv")
    return df

In [12]:
dfa = read_data()

In [13]:
# dfa.state.unique()

In [14]:
dfa = dfa[dfa.state.isin(["LA"])]
dfa = dfa.fillna("")

In [15]:
def read_misconduct_data():
    df = pd.read_csv("../data/LA/la_personnel.csv")
    return df

In [16]:
dfb = read_misconduct_data()

In [17]:

def match_ok_names_to_personnel(ok, agency):
    dfa = ok[["first_name", "last_name"]]
    dfa.loc[:, "first_name"] = dfa.first_name.str.lower().str.strip()
    dfa.loc[:, "last_name"] = dfa.last_name.str.lower().str.strip()
    dfa.loc[:, "fc"] = dfa.first_name.fillna("").apply(lambda x: x[:1])


    dfb = agency[["first_name", "last_name"]]
    dfb.loc[:, "first_name"] = dfb.first_name.str.lower().str.strip()
    dfb.loc[:, "last_name"] = dfb.last_name.str.lower().str.strip()
    dfb.loc[:, "fc"] = dfb.first_name.fillna("").apply(lambda x: x[:1])

    matcher = ThresholdMatcher(
        ColumnsIndex(["fc"]),
        {
            "first_name": JaroWinklerSimilarity(),
            "last_name": JaroWinklerSimilarity(),
        },
        dfa,
        dfb,
    )
    decision = 0.800
    matcher.save_pairs_to_excel(
        ("../data/LA/oathkeeper_names_v_la_misconduct_data.xlsx"), decision
    )
    return matcher

In [18]:
match = match_ok_names_to_personnel(dfa, dfb)

C:\Users\PC\AppData\Local\Temp\ipykernel_14568\3700310891.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dfa.loc[:, "first_name"] = dfa.first_name.str.lower().str.strip()
C:\Users\PC\AppData\Local\Temp\ipykernel_14568\3700310891.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dfa.loc[:, "last_name"] = dfa.last_name.str.lower().str.strip()
C:\Users\PC\AppData\Local\Temp\ipykernel_14568\3700310891.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dfa.loc[:, "fc"] = dfa.first_name.fillna("").apply(lambda x: x[:1])
C:\Users\PC\AppData\Local\Temp\ipykernel_14568\3700310891.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dfb.loc[:, "first_name"] = dfb.first_name.str.lower().str.strip()
C:\Users\PC\AppData\Local\Temp\ipykernel_14568\3700310891.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dfb.loc[:, "last_name"] = dfb.last_name.str.lower().str.strip()
C:\Users\PC\AppData\Local\Temp\ipykernel_14568\3700310891.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dfb.loc[:, "fc"] = dfb.first_name.fillna("").apply(lambda x: x[:1])

In [19]:
def read_matches():
    df = pd.read_excel("../data/LA/oathkeeper_names_v_la_misconduct_data.xlsx")
    return df

In [20]:
matches = read_matches()

In [21]:
matches

   score_range  pair_idx  sim_score  row_key first_name        last_name fc
0    1.00-0.95       0.0   0.954475       47      james            burns  j
1          NaN       NaN        NaN    30172      james            buras  j
2          NaN       1.0   0.953571      237      david          bradley  d
3          NaN       NaN        NaN    54979      david        bradberry  d
4          NaN       2.0   0.952367      277      keith           monroe  k
5          NaN       NaN        NaN      472      keith            moore  k
6          NaN       3.0   0.951315      395       chad          lejeune  c
7          NaN       NaN        NaN    31986   chadwick          lejeune  c
8          NaN       4.0   0.951315      478      james        flannigan  j
9          NaN       NaN        NaN    42733      james           fannin  j
10   0.95-0.90       0.0   0.901347      406     joshua            lerch  j
11         NaN       NaN        NaN    55111     joshua          deroche  j
12         NaN       1.0   0.901138      539      david           cannon  d
13         NaN       NaN        NaN    51535      david            canas  d
14         NaN       2.0   0.901138      304   dominick        marchetti  d
15         NaN       NaN        NaN    19144   dominick       martorelli  d
16         NaN       3.0   0.901138      349      brian         cielatka  b
17         NaN       NaN        NaN    35180      brian            clark  b
18         NaN       4.0   0.901138      121     ronald         gonzales  r
19         NaN       NaN        NaN    28194     ronald            gates  r
20   0.90-0.85       0.0   0.851918      399    william        ennenbach  w
21         NaN       NaN        NaN    50613    william          bennett  w
22         NaN       1.0   0.851668      362      shawn        manwaring  s
23         NaN       NaN        NaN    41375    shannon          manning  s
24         NaN       2.0   0.851146       39       gail            bryan  g
25         NaN       NaN        NaN    33936       gail             boyd  g
26         NaN       3.0   0.851146      367       anne            flint  a
27         NaN       NaN        NaN    41951      alvin            flint  a
28         NaN       4.0   0.851146       67      clint         guillory  c
29         NaN       NaN        NaN    37355       carl         guillory  c
30   0.85-0.80       0.0   0.808638      351    severin       summers jr  s
31         NaN       NaN        NaN    46199      shawn          summers  s
32         NaN       1.0   0.803510      426    wallace          west ii  w
33         NaN       NaN        NaN    46503    wallace           martin  w
34         NaN       2.0   0.803406      484    chandra        app helps  c
35         NaN       NaN        NaN    21791     chance          cappell  c
36         NaN       3.0   0.803299      508      santo        mangipano  s
37         NaN       NaN        NaN    34224   salvador      mangano iii  s
38         NaN       4.0   0.802169       83     richie      gauthier sr  r
39         NaN       NaN        NaN    48052     rickie          grabert  r
40   0.80-0.75       0.0   0.785370      441     theron             lutz  t
41         NaN       NaN        NaN    33454     theron            gorum  t
42         NaN       1.0   0.782543      210       capt  grant c swanson  c
43         NaN       NaN        NaN    20461  carylenna            grant  c
44         NaN       2.0   0.776145       73     edmund          toscano  e
45         NaN       NaN        NaN    37631     edmond             gros  e
46         NaN       3.0   0.771070       40     khouri           frisch  k
47         NaN       NaN        NaN     8557       kirk            frith  k
48         NaN       4.0   0.770642      481   hyacinth        d antonio  h
49         NaN       NaN        NaN    58432   hyacinth       bouzalakos  h

In [ ]:
df.to